@model milkify.Models.MilkCollection

@{
    ViewData["Title"] = "AddCollection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddCollection</h1>

<h4>MilkCollection</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCollection">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FarmerName" class="control-label"></label>
                <input asp-for="FarmerName" class="form-control" />
                <span asp-validation-for="FarmerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CollectionDate" class="control-label"></label>
                <input asp-for="CollectionDate" class="form-control" />
                <span asp-validation-for="CollectionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RatePerLiter" class="control-label"></label>
                <input asp-for="RatePerLiter" class="form-control" />
                <span asp-validation-for="RatePerLiter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MilkType" class="control-label"></label>
                <input asp-for="MilkType" class="form-control" />
                <span asp-validation-for="MilkType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

